<section class="why-choose-us">
  <div class="why-wrapper container">
    <div class="left-with-cta">
      <h3>Why You'll Love Us!</h3>
      <p>It’s a win-win for everyone. You’ll never look back.</p>
      <app-get-price-button></app-get-price-button>
    </div>
    <div class="right-list">
      <ul>
        <li>
          <div>
            <span>01</span>
            <div>
              <h3>Same Day Service</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div>
            <span>02</span>
            <div>
              <h3>Same Price for any Surface</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div>
            <span>03</span>
            <div>
              <h3>Insuranced and Licensed</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div>
            <span>04</span>
            <div>
              <h3>Best Price Guaranteed</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et.
              </p>
            </div>
          </div>
        </li>
        <li>
          <div>
            <span>05</span>
            <div>
              <h3>Commercial and Residental</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
