<section class="why-choose-us" id="choose">
  <div class="why-wrapper container">
    <div class="left-with-cta">
      <h3>Why You'll Love Us!</h3>
      <p>It’s a win-win for everyone. You’ll never look back.</p>
      <app-get-price-button></app-get-price-button>
    </div>
    <div class="right-list">
      <ul>
        <li>
          <div>
            <span>01</span>
            <div>
              <h3>Same Day Service</h3>
              <p>
                5 Boroughs, Same Day Guarantee: Reserve by 3:00 PM for Immediate
                Assistance! After 3:00 PM, Your Request Gets Priority for Next
                Day Service, 7 days a week!!!
              </p>
            </div>
          </div>
        </li>
        <li>
          <div>
            <span>02</span>
            <div>
              <h3>Same Price for any Surface</h3>
              <p>
                No Extra Charges Based on Wall Surface - Install Your TV
                Securely on Any Surface for the Same Price!
              </p>
            </div>
          </div>
        </li>
        <!-- <li>
          <div>
            <span>03</span>
            <div>
              <h3>Insuranced and Licensed</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et.
              </p>
            </div>
          </div>
        </li> -->
        <li>
          <div>
            <span>03</span>
            <div>
              <h3>Best Price Guaranteed</h3>
              <p>
                Discover Your Exact Project Price, Whether It's for 1 TV or 5
                TVs. Try Our Price Calculator tool Now and Get Accurate Results
                Every Time! with no hidden fees.
              </p>
            </div>
          </div>
        </li>
        <!-- <li>
          <div>
            <span>05</span>
            <div>
              <h3>Commercial and Residental</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et.
              </p>
            </div>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</section>
