<footer>
  <div class="top-blue">
    <div class="footer-wrapper container">
      <div class="logo-socials">
        <div (click)="onLogo()" class="logo">
          <a>
            <img src="../../../assets/images/footerlogo.svg" alt="logo" />
          </a>
        </div>
        <div class="socials">
          <div class="fb circle">
            <img src="../../../assets/images/fb.png" alt="Facebook" />
          </div>
          <div class="twitter circle">
            <img src="../../../assets/images/twitter.png" alt="Twitter" />
          </div>
          <div class="instagram circle">
            <img src="../../../assets/images/Instagram.png" alt="Instagram" />
          </div>
        </div>
      </div>
      <div class="contact column">
        <h2>Contacts</h2>
        <ul>
          <li>
            <img src="../../../assets/images/phone.png" alt="phone" />
            <span>(310) 343-675</span>
          </li>
          <li>
            <img src="../../../assets/images/Symbol.png" alt="email" />
            <span>Citysquad&#64;gmail.com</span>
          </li>
        </ul>
      </div>
      <div class="sitemap column">
        <h2>Site Map</h2>
        <ul>
          <li><a href="#">Services</a></li>
          <li><a href="#">Why Choose Us</a></li>
          <li><a href="#">Plans</a></li>
          <li><a href="#">Testimonials</a></li>
        </ul>
      </div>
      <div class="working-hours column">
        <h2>Working Hours</h2>
        <ul class="hours">
          <li><span>Monday: 8am-8pm</span></li>
          <li><span>Tuesday: 8am-8pm</span></li>
          <li><span>Wednesday: 8am-8pm</span></li>
          <li><span>Thursday: 8am-8pm</span></li>
          <li><span>Friday: 8am-8pm</span></li>
          <li><span>Saturday: 8am-8pm</span></li>
          <li><span>Sunday: 8am-8pm</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom-black">
    <div class="container">
      <span>Copyright © 2023 CitySquad. All rights reserved.</span>
      <div class="footer-black-right">
        <a href="#">Terms and Conditions</a>
        <a href="#" class="privacy">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
