<header>
  <div class="announcement">
    <img src="../../../assets/images/247phone.png" alt="number" />
    <span>(310) 343-675</span>
  </div>
  <div class="navigation">
    <div class="nav-wrapper container">
      <div class="logo">
        <a href="">
          <img src="../../../assets/images/logo.svg" alt="logo" />
        </a>
      </div>
      <nav>
        <ul>
          <li><a (click)="onNavigation(900)">Services</a></li>
          <li><a (click)="onNavigation(1352)">Why Choose Us</a></li>
          <li><a (click)="onNavigation(1911)">Our Work</a></li>
          <li>
            <a (click)="onNavigation(2576)">Testimonials</a>
          </li>
          <li><app-get-price-button></app-get-price-button></li>
        </ul>
      </nav>
      <div class="burger-bar">
        <mat-icon>
          <span class="material-symbols-outlined"> menu </span>
        </mat-icon>
      </div>
    </div>
  </div>
</header>
