<header>
  <div class="announcement">
    <img src="../../../assets/images/247phone.png" alt="number" />
    <span>(310) 343-675</span>
  </div>
  <div class="navigation">
    <div class="nav-wrapper container">
      <div class="logo">
        <a href="#">
          <img src="../../../assets/images/logo.svg" alt="logo" />
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="#">Services</a></li>
          <li><a href="#">Why Choose Us</a></li>
          <li><a href="#">Our Work</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><app-get-price-button></app-get-price-button></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
