<section class="services">
  <div class="services-cont container">
    <h2>Services We Offer</h2>
    <p>
      Turn any space into entertainment & get the perfect viewing angles with
      our TV mounting service.
    </p>
    <div class="service-logos">
      <div class="service">
        <img src="../../../assets/images/mounting.svg" alt="mounting" />
        <span>Secure Mounting TV</span>
      </div>
      <div class="service">
        <img src="../../../assets/images/wire-hiding.svg" alt="wire-hiding" />
        <span>Hide TV Wires</span>
      </div>
      <div class="service">
        <img
          src="../../../assets/images/sound-bar-installation.svg"
          alt="sound-bar-installation"
        />
        <span>Soundbar Installation</span>
      </div>
      <div class="service">
        <img
          src="../../../assets/images/led-lights-installation.svg"
          alt="led-lights-installation"
        />
        <span>LED Light Installation</span>
      </div>
      <div class="service">
        <img
          src="../../../assets/images/small-shelf-installation.svg"
          alt="small-shelf-installation"
        />
        <span>TV Shelf Installation</span>
      </div>
    </div>
  </div>
</section>
