<section class="container">
  <div class="price-page-wrapper">
    <div class="left-forms-wrapper">
      <div class="title">
        <h2>TV mounting starting from 69$</h2>
        <h4>Get a free quote in less than 10 seconds</h4>
      </div>
      <div class="left-forms">
        <form [formGroup]="tvFormTest">
          <div class="formarrayname" formArrayName="tvs">
            <div
              class="ngfordiv"
              *ngFor="let tv of tvsList.controls; let i = index"
            >
              <div class="formgroupnamediv" [formGroupName]="i">
                <div class="form-title">
                  <div class="checkbox-title">
                    <div class="checkbox">
                      <div class="circle"></div>
                    </div>
                    <span>#{{ i + 1 }} TV</span>
                    <span *ngIf="tvPrices[i]">price - ${{ tvPrices[i] }}</span>
                  </div>
                  <span
                    *ngIf="!tv.get('active')?.value"
                    class="edit"
                    (click)="onEdit(tv.value, i)"
                    >Edit</span
                  >
                  <span class="remove" (click)="removeTvForm(i)">Remove</span>
                </div>
                <div *ngIf="tv.get('active')?.value" class="labels">
                  <label>
                    Please select size of your TV
                    <select formControlName="size">
                      <option value="sm">24″-43″</option>
                      <option value="md">44″-55″</option>
                      <option value="lg">56″-75″</option>
                      <option value="xl">75″+</option>
                    </select>
                  </label>
                  <label>
                    What type of mount do you want to purchase?
                    <select formControlName="mountType">
                      <option value="no" selected>I have mine</option>
                      <option value="flattilt">Flat and Tilt</option>
                      <option value="full">Full Motion</option>
                    </select>
                  </label>
                  <label>
                    Where would you like to hide wires?
                    <select formControlName="whereToHideWires">
                      <option value="inside" selected>Inside the wall</option>
                      <option value="outside">Outside the wall</option>
                      <option value="notsure">Not sure</option>
                    </select>
                  </label>
                  <label>
                    Would you like to mount sound-bar?
                    <select formControlName="soundBar">
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                    </select>
                  </label>
                  <label>
                    Would you like to mount TV shelves?
                    <select formControlName="shelves">
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                    </select>
                  </label>
                  <label>
                    Would you like to mount electric fireplace?
                    <select formControlName="fireplace">
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                    </select>
                  </label>
                  <label>
                    Would you like to install LED lights on the back of the TV?
                    <select formControlName="led">
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                    </select>
                  </label>
                  <label>
                    Choose a date of service
                    <select formControlName="date">
                      <option value="small" selected>small</option>
                      <option value="medium">medium</option>
                      <option value="big">big</option>
                    </select>
                  </label>
                  <label>
                    Comment
                    <textarea
                      name="comment"
                      id="comment"
                      cols="30"
                      rows="5"
                      formControlName="comment"
                    ></textarea>
                  </label>
                  <button (click)="onCalculate(tv.value, i)" class="save">
                    Calculate
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div
          *ngIf="tvsList.controls.length < 5"
          class="add-tv"
          (click)="onAddAnother()"
        >
          <div class="checkbox">
            <div class="circle"></div>
          </div>
          <span>Add another TV</span>
        </div>
        <div class="disclaimer" *ngIf="tvsList.controls.length >= 5">
          <p>
            If you want to add more TVs you should call us (929) 722-1167 and
            get special price.
          </p>
        </div>
        <form *ngIf="isContactFormVisible">
          <label>
            Full Name
            <input
              type="text"
              name="fullname"
              id="fullname"
              placeholder="Your Name"
            />
          </label>
          <label>
            Email
            <input type="email" placeholder="email" name="email" id="email" />
          </label>
          <label>
            Address
            <input
              type="text"
              name="address"
              id="address"
              placeholder="address"
            />
          </label>
          <label>
            Apt/Suite Number
            <input type="text" name="apt" id="apt" placeholder="Apt 101" />
          </label>
          <label>
            Zip Code
            <input type="text" name="zip" id="zip" placeholder="0000 000" />
          </label>
          <label>
            Phone Number
            <input type="text" name="phone" id="phone" />
          </label>
        </form>
      </div>
    </div>
    <section class="right-calculation-wrapper">
      <div class="fixed-right-content">
        <h2>TV mounting</h2>
        <h2>starting from 69$</h2>
        <h3>Get a free quote in less then 10 seconds</h3>
        <div class="line"></div>

        <span>SUBTOTAL</span>
        <div class="price">
          <img
            class="usd usd-lg"
            src="../../../assets/images/usd.svg"
            alt="usd"
          />
          <img
            class="usd usd-mob"
            src="../../../assets/images/usd_black.svg"
            alt="usd"
          />
          <span class="price">{{ totalPrice }}</span>
        </div>
        <p>
          If you have any questions, please do not hesitate to contact Customer
          Service at info&#64;citysquad.com or Call us (929) 722-1167
        </p>
        <button class="continue-btn" (click)="openModal()">Continue</button>
        <button *ngIf="false">Book</button>
        <button *ngIf="false" class="back">Go Back</button>
      </div>
    </section>
  </div>
</section>
<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Contact Information</h2>
    <form [formGroup]="contactForm" (submit)="onSubmit($event)">
      <label>
        <span> Full Name: </span>
        <input formControlName="fullName" />
      </label>
      <label>
        <span> Phone Number: </span>
        <input formControlName="phone" />
      </label>
      <label>
        <span> E-mail: </span>
        <input formControlName="email" />
      </label>
      <label>
        <span> City: </span>
        <input formControlName="city" />
      </label>
      <label>
        <span> Street Address (incl. Apt.): </span>
        <input formControlName="address" />
      </label>
      <label>
        <span> Zip-code: </span>
        <input formControlName="zipCode" />
      </label>
      <div class="buttons-div">
        <input type="submit" value="Submit" />
        <!-- <button (click)="onSubmit()">Submit</button> -->
        <button (click)="closeModal()">Cancel</button>
      </div>
    </form>
  </div>
</div>
